.group__owe-bill__mode-selector
    button.group__owe-bill__mode.i_owe.active(onclick="setMode('i_owe')") Я должен
    button.group__owe-bill__mode.owed_to_me(onclick="setMode('owed_to_me')") Мне должны