.login-form-container {
    padding: 30px;
    width: 100%;
    display: flex;

    form.login-form {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 20px;
        .login-form__row {
            width: 100%;
            display: flex;
            flex-direction: row;
            gap: 20px;

            * {
                outline: none;
            }
            input.login-form__input {
                padding: 20px;
                width: 100%;
                background: var(--card);
                border-radius: 5px;
                border: none;
                color: var(--white);
                font-family: "Product Sans", sans-serif;
                font-size: 1rem;
            }

            select.login-form__select {
                -webkit-appearance: none;
                -moz-appearance: none;
                padding: 20px;
                width: 100%;
                background: var(--card);
                border-radius: 5px;
                border: none;
                color: var(--white);
                font-family: "Product Sans", sans-serif;
                font-size: 1rem;
                option {
                    color: #000;
                    &.primary {
                        font-weight: 700;
                    }
                }
                option[disabled] {
                    display: none;
                    color: var(--grey);
                }
            }

            textarea.login-form__textarea {
                padding: 20px;
                width: 100%;
                background: var(--card);
                border: none;
                resize: none;
                min-height: 200px;
                color: var(--white);
                border-radius: 5px;
                font-family: "Product Sans", sans-serif;
                font-size: 1rem;
            }

            button.login-form__submit,
            button.login-form__back {
                background: var(--primary);
                display: flex;
                align-items: center;
                justify-content: center;
                border: none;
                outline: none;
                color: var(--white);
                cursor: pointer;
                padding: 20px 30px;
                border-radius: 5px;
                font-size: 16px;
                width: 100%;
                font-family: "Product Sans", sans-serif;
            }

            button.login-form__back {
                background: none;
                color: var(--grey)
            }

            .login-form__checks {
                padding: 20px;
                width: 100%;
                background: var(--card);
                border: none;
                color: var(--white);
                border-radius: 5px;
                font-family: "Product Sans", sans-serif;
                font-size: 1rem;

                label {
                    display: flex;
                    justify-content: space-between;
                    width: 100%;

                    span {
                        font-size: 16px;
                    }
                    input {
                        width: 16px;
                        height: 16px;
                    }
                }
            }
        }
    }
}