.footer
    .footer-item(class=(footer_item_active === 1 ? "active" : ""))
        a.footer-item__text(href="/") Счета
        .footer-item__underline
    .footer-item(class=(footer_item_active === 2 ? "active" : ""))
        a.footer-item__text(href="/groups") Группы
        .footer-item__underline