* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    -webkit-tap-highlight-color: transparent;
}

body {
    background: #0E0E0E;
    color: #fff;
    font-family: 'Product Sans', Helvetica, sans-serif;
    font-size: 26px;
}

.main {
    margin-bottom: 90px;
    margin-top: 180px;
}

@font-face {
    font-family: "Product Sans";
    src: url("../fonts/fonnts.com-Product_Sans_Black.ttf");
    font-weight: 700;
}
@font-face {
    font-family: "Product Sans";
    src: url("../fonts/fonnts.com-Product_Sans.ttf");
    font-weight: 400;
}
@font-face {
    font-family: "Product Sans";
    src: url("../fonts/fonnts.com-Product_Sans_Medium.ttf");
    font-weight: 500;
}

.sum-positive {
    color: var(--success);
    font-family: "Product Sans", sans-serif;
    font-weight: 700;
}
.sum-negative {
    color: var(--danger);
    font-family: "Product Sans", sans-serif;
    font-weight: 700;
}
a[href] {
    text-decoration: none;
    -webkit-tap-highlight-color: transparent;
    color: inherit;
}
.back-button {
    color: var(--grey);
    padding-inline: 30px;
    padding-block: 10px;
    font-weight: 700;
    display: flex;
    gap: 10px;
    font-size: 16px;
}
@media screen and (min-width: 768px) {
    .main {
        margin-top: 80px;
    }
}
.owe-bills {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 30px;

    @media screen and (min-width: 768px) {
        & {
            padding-inline: 30px;
        }
    }
}